*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/misc.xml
/.idea/gradle.xml
/.idea/dictionaries/
/.idea/copyright/
/.idea/markdown-navigator/
/.idea/markdown-navigator.xml
/.idea/markdown-navigator.xml
/.idea/codeStyles/Project.xml
*.attach_pid*
.DS_Store
/build
/captures
.externalNativeBuild
